.TextContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 10px;

    * {
        position: relative;
        z-index: 1;
    }


    .text {
        font-size: 1.7em;
        white-space: pre-wrap !important;

    }

    .background {
        z-index: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

}